.textloblox {
text-align: center;
}
.goot {
    width: 1540px;
    height: 100px;
    background-color: rgb(111, 111, 111);
}
.containers {
    width: 900px;
    height: 100px;
}

.aftor {
text-align: center;
background-color: rgb(202, 202, 202);

}

.me {
    height: 300px;
    top: 1000px;
background-color: rgb(146, 255, 235);
}
.vontema1 {
    width: 1540px;
    background-color: rgb(255, 255, 142);
}
.tema1 {
    height: 100px;
    width: 1500px;
    text-align: center;
}

.col-md-4 {
    top: 100px;
    height: 250px;
}

.rpstar {
    color: #64ff42;
    height: 50px;
}